body {
  padding-top: 56px;
  /* color: white; */
}

/* Layout */
.layout {
  display: flex;
  height: calc(100vh - 56px);
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #412b6b;
  padding: 20px;
  transition: transform 0.3s ease;
}

.sidebar .nav-link {
  color: rgb(135, 135, 224);
  border-radius: 10px;
}

.sidebar .nav-link.active {
  background-color: rgb(30, 30, 96);
  color: white;
  font-size: medium;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  /* background: #211832; */
  overflow-y: auto;
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
